################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MHXXSaveEditor/bin/Debug
/MHXXSaveEditor/obj
/MHXXSaveEditor/bin/Release
